html, body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: #3C3C3C;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 160%;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #ffffff;
}

p {
    padding: 0;
    margin: 0;
}

.p1 {
    padding: 0;
    margin: 0;
    float: right;
    margin-bottom: 1%;
}

div {
    font-family: sans-serif;
    width: 60%; 
    float: left;
    margin-left: 20%;
    padding: 1%;
    color: #ffffff;
}

.div1 {
    background-color: #626E60;
    margin-bottom: 2%;
}

.div2 {
    background-color: #945D60;
    height: 60%;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.div2::-webkit-scrollbar {
  display: none;
}

.buttons {
    font-family: sans-serif;
    background-color: #3C3C3C;
    border: none;
    color: #ffffff;
    text-align: center;
    padding: 3px;
    transition-duration: 0.1s;
    margin-bottom: 1%;
}

.buttons:hover {
    background-color: #AF473C;
    color: #ffffff;
}

input[type=submit] {
    font-family: sans-serif;
    background-color: #3C3C3C;
    border: none;
    color: #ffffff;
    text-align: center;
    padding: 3px; 
    transition-duration: 0.1s;
    margin-top: 1%;
}

input[type=submit]:hover {
    background-color: #AF473C;
    color: #ffffff;
}

